.swiper-button-next,
.swiper-button-prev{
    background-color: #002318;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    padding-top: 14px;
}
.swiper-button-next{
    padding-left: 12px;
}
.swiper-button-prev{
    padding-left: 10px;   
}
.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff2e4;
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: 900;
    box-shadow: "0px 0px 10px black";
}